*{
	padding:  0;
}
.box{
	margin: 0 auto;
	margin-top: 50px;
	width: 600px;
	height: 400px;
	border: red 1px solid;
	background: palevioletred;
	
}
#liuyang{
	width: 100px;
	height: 25px;
	line-height: 30px;
	text-align: center;
}
#liuyang p{
	position: relative;
	left: -1px;
	top: -48px;
	border: red 1px solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
#from{
	width: 550px;
	height: 350px;
	margin-left: 20px;
}
#from span{
	font-size: 12px;
}
